doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    title Mi Página
  body
    div#main.container
      h1.titulo Bienvenido
      p Este es un párrafo de ejemplo
      div.card
        h2 Subtítulo
        p.description Descripción del contenido
        ul
          li Elemento 1
          li Elemento 2
          li Elemento 3
    footer#pie.footer
      p Copyright 2024